@using UnitOfWorkNamespace.Models
@model SignUpViewModel
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br />
    <input type="submit" value="Valider" />
}
















































@*
    @section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@