body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center;
    float: left;
    -webkit-box-shadow: 0 0 9px black;
    -ms-box-shadow: 0 0 9px black;
    box-shadow: 0 0 9px black;
    -ms-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid gray;
}
.input-validation-error {
    border: 1px solid #cd5c5c;
}

.field-validation-error {
    color: #cd5c5c;
}


ul.dogs {
    display: none;
    clear: both; 
    margin: 20px;
    float: left;
}

ul#users > li {
    -webkit-box-shadow: 0 0 10px;
    -ms-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    margin: 10px;
    padding: 10px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

li.dog {
    float: left;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.dog-info {
    padding: 20px;
    float: left;
}

ul#users > li:after {
  content:"";
  display:table;
  clear:both;
}


ul#users, ul.dogs {
    list-style: none;
    padding: 0;
}

.user-info {
    float: left;
    padding: 20px;
}

.glyphicon-user {
    font-size: 50px;
    color: gray;
}

header {
    text-align: center;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
